body{
    background-image: url("https://media1.tenor.com/images/b0c2c98830563520c8e8cc74efe2e7e5/tenor.gif?itemid=12374002");
    background-position:center;
    background-size: cover;
}

#myCanvas
{
    margin-top: 30px;
	border-width:10px;
	background-color: white; 
	border-style:ridge;
}